<mat-toolbar color="primary">Google Keep</mat-toolbar>

<!-- Exp toolbar -->

<mat-expansion-panel class="noteinputcontainer">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Notes
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="notesinput">

        <mat-form-field>
            <input [(ngModel)]="note.text" matInput placeholder="raskoo ne..istam">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="note.title" matInput placeholder="TextArea">
        </mat-form-field>
    </div>
    <div>
        <button (click)="takeNotes()" mat-button>Save..!</button>

    </div>
</mat-expansion-panel>

<mat-card class="notecard" *ngFor="let mynote of noteList">
    <mat-card-title>{{mynote.text}}</mat-card-title>
    <mat-card-content>{{mynote.title}}</mat-card-content>
</mat-card>